.snackbar {
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 85%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

.show {
  animation: 1s linear fadein;
  opacity: 1;
  transition: opacity 1s;
}

.hide {
  animation: 1s linear fadeout;
  opacity: 0;
  transition: opacity 1s;
}

.success {
  background-color: #42b883;
}

.fail {
  background-color: #AA0000;
}

@keyframes fadein {
  from { transform: translateY(30px); }
  to { transform: translateY(0px); }
}

@keyframes fadeout {
  from { transform: translateY(0px); }
  to { transform: translateY(30px); }
}