@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';
@import '../../../styles/font-family.scss';

$primaryBackground: $purpleBlue;
$primary-hover: $darkPurpleBlue;
$secondary-color: $crimson;
$secondary-hover: $red3;
$success-color: $green;
$success-hover: $green2;

.button {
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.3s ease-in-out;

  &:hover {
      transition: 0.3s ease-in-out;
      background: #4F95DA;
  }
}


// Full Width Button
.fullwidth {
  width: 100%;
}

// Size Button
.small {
  font-size: $f12;
  width: 120px;
  height: 40px;
}

.medium {
  font-size: $f18;
  width: 150px;
  height: 50px;
}

.large {
  font-size: $f24;
  width: 180px;
  height: 60px;
}

// Theme
.primary {
  color: $white;
  background: $primaryBackground;
  border: 1px solid $primaryBackground;
  transition: color 0.3s ease, background 0.3 ease;

  &:hover {
      color: $white;
      background: $primary-hover;
  }

  &:disabled {
      color: $grey-darc-color;
      background: $white;
      border-color: $grey-light-color;
      cursor: default;
  }
}

.secondary {
  color: $white;
  background: $secondary-color;
  border: 1px solid $secondary-color;
  transition: color 0.3s ease, background 0.3 ease;

  &:hover {
      color: $white;
      background: $secondary-hover;
      border: 1px solid $secondary-hover;
  }

  &:disabled {
      color: $grey-darc-color;
      background: $white;
      border-color: $grey-light-color;
      cursor: default;
  }
}

.success {
  color: $white;
  background: $success-color;
  border: 1px solid $success-color;
  transition: color 0.3s ease, background 0.3 ease;

  
  
  &:hover {
      transition: 0.3s ease-in-out;
      background: $success-hover;
  }

  &:disabled {
      color: $grey-darc-color;
      background: $white;
      border-color: $grey-light-color;
      cursor: default;
  }
}
