$white: #fff;

// Registration form
$santaGrey: #a1a4b5;
$vividViolet: #7c08ff;
$softPurple: #b464a6;
$purpleBlue: #6610f2;
$darkPurpleBlue: #470BA9;

// Button
$blue1: #4285f4;
$blue2: #1769aa;
$crimson: crimson;
$red3:  #b2102f;
$green: #13aa52;
$green2: #116149;
$grey-darc-color: #919191;
$grey-light-color: #ededed;