$white: #fff;
$black: #000;

// Registration form
$santaGrey: #a1a4b5;
$vividViolet: #7c08ff;
$softPurple: #b464a6;
$purpleBlue: #6610f2;
$darkPurpleBlue: #470BA9;

// Button
$blue1: #4285f4;
$blue2: #1769aa;
$crimson: crimson;
$red3:  #b2102f;
$green: #13aa52;
$green2: #116149;
$grey-darc-color: #919191;
$grey-light-color: #ededed;

// Input
$grey1: #99A3BA;
$blue: #4285f4;
$red1: #ff9999;
$red2: #ff7f7f;
$red4:  #ff003b;
$dark-grey-color: #333;
$grey4: #CDD9ED;
$blue5: #275EFE;
$blue3: #275EFE;
$grey3: #EEF4FF;
$grey: #e0e2e5;
$grey2: #CBD1DC;

// Login Form
$dirtyPink: #d57c77;
$vibrantGreen: #00cc00;